<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag "scaffold" %>

  <title>Blogengine</title>
  <%= stylesheet_link_tag    "blogengine/application", media: "all" %>
  <%= javascript_include_tag "blogengine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
